.header{
    margin-right: 100vh;
    margin-left: 100vh;
    padding-top: 100px;
    color:black;
    text color: black;

}
.top{
    padding-top: 20px;
    margin-left: 70vh;
    margin-right: 50vh;
}
.hh{
    margin-left: 95vh;
    margin-right: 30vh;
}
.bb{
    width: 400px;
    height: 50px;
}
.button{
    background-color: blue;
}
.gm{
    display: flex;
    justify-content: center;
    width: -1000;
}
.img{
    width: 50vh;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    padding-right: 100hv;
    padding-left: 57vh;
    margin-top: 10vh;
}
